# Learn more about .gitignore:
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# dependencies
/node_modules
/.pnp
.pnp.js
dist/

# testing
/coverage

# misc
.DS_Store
*.pem

# next.js
/.next/
/out/

# production
/build

# local env files
*.env.*
*.env.development
*.env.production

# typescript
*.tsbuildinfo
next-env.d.ts